.drink2go-online-store__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #7859cf;
  padding-left: 20px;
}

.drink2go-online-store {
  padding-top: 20px;
  border-bottom: 1px solid #f0ebff;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    border: 0;
    width: 223px;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
    padding-top: 49px;
  }
}

.drink2go-online-store__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #333333;
}

.drink2go-online-store__link:hover {
  color: #9070ec;
}

.drink2go-online-store__link:focus {
  color: #9070ec;
}

.drink2go-online-store__link:active {
  color: #593cac;
}

.drink2go-online-store__item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
