.drink2go-sorting__container {
  background: #f8f8f8;
}

.drink2go-sorting__wrapper {
  margin: auto;
  display: flex;
  width: 280px;
  height: 32px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    width: 292px;
  }
}

.drink2go-sorting__control-view {
  font-family: "Montserrat", "Arial", sans-serif;
  margin-left: auto;
  width: 165px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 0;
  color: #7859cf;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.drink2go-sorting__status {
  width: 7px;
  height: 25px; /* (3px * 3) + (2px * 2) */
  background:
      linear-gradient(white 0 3px,
                      black 3px 6px,
                      white 6px 8px,
                      black 8px 11px,
                      white 11px 13px,
                      black 13px 16px,
                      white 16px 25px);
}

.drink2go-sorting__title {
  margin: 0;
  padding-top: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
