.drink2go-user__text {
  display: none;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding-left: 44px;
    padding-top: 32px;
  }
}

.drink2go-user__link {
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
}

.drink2go-user__item {
  position: relative;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 112px;
    margin-right: 20px;
  }
}

.drink2go-user__item:active {
  background-color: #f0ebff;
}

.drink2go-user__link:active {
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    color: #7859cf;
  }
}

.drink2go-user__item:hover {
  @media (min-width: $desktop-width) {
    color: #7859cf;
  }
}

.drink2go-user__item:focus {
  @media (min-width: $desktop-width) {
    color: #7859cf;
  }
}

.drink2go-user__item:last-child {
  @media (min-width: $desktop-width) {
    width: 129px;
  }
}

.drink2go-user__icon {
  display: block;
  position: absolute;
  top: 22px;
  left: 22px;

  @media (min-width: $tablet-width) {
    top: 32px;
  }

  @media (min-width: $desktop-width) {
    left: 20px;
  }
}

.drink2go-user__list {
  display: flex;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }
}
