.drink2go-page__body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  margin: 0;
  color: #333333;
  background-color: #ffffff;
}

.drink2go-page {
  box-sizing: border-box;
}
