.drink2go-map__container {
  background-image: url("../../img/map-mobile.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 320px;
  height: 420px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 480px;
    background-image: url("../../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/map-tablet@2x.jpg");
      background-size: 1338px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 520px;
    background-image: url("../../img/map-desktop.jpg");
  }
}

.drink2go-map__drink2go {
  width: 320px;
  height: 420px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 520px;
  }
}
