.header__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 99%;
  height: 85px;
  background-color: $color-puerto-rico;
  border-radius: 15px 15px 15px 15px;
  border-bottom: 5px solid $color-bright-turquoise;
  border-right: 5px solid $color-bright-turquoise;
}

.header__wrapper-logo {
  margin: auto;
  margin-left: 0;
}

.header__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: aliceblue;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(215, 230, 225, 0.5);
}

.header__logo {
  cursor: default;
}
