
.main-block__container {
  /*123*/
  position: relative;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: $color-bermuda;
  height: 720px;
  border-radius: 15px 15px 15px 15px;
  border-bottom: 5px solid $color-bright-turquoise;
  border-right: 5px solid $color-bright-turquoise;

  @media (max-width: $vp-1440) {
    height: 860px;
  }

  @media (max-width: $vp-1024) {
    height: 1400px;
  }
}

.main-block {
  width: 99%;
  max-width: 1920px;
  margin: 0 auto;
}

.main-block__svg {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 15px 15px;
}

.main-block__wrapper {
  display: inline-flex;
  flex-direction: row;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  background-color: rgba(240, 248, 255, 0.53);
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 15px 15px;

  @media (max-width: $vp-1024) {
    flex-direction: column;
  }
}

.main-block__text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  margin: auto;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: aliceblue;
  padding: 0;

  @media (max-width: $vp-1440) {
    margin-left: 0;
  }

  @media (max-width: $vp-375) {
    font-size: 16px;
  }
}

.main-block__img {
  width: 50px;
  height: 40px;
  margin: auto;
  padding-right: 10px;

  @media (max-width: $vp-1440) {
    margin: 0;
  }
}

.main-block__info {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: aliceblue;
  width: 45%;
  height: 80%;
  margin: auto;
  margin-left: 60px;
  border-radius: 15px 15px 15px 15px;
  border-bottom: 5px solid $color-bright-turquoise;
  border-right: 5px solid $color-bright-turquoise;
  background-color: #41b3a4c5;

  @media (max-width: $vp-1440) {
    border-right: none;
    width: 65%;
    margin-right: 0;
    border-radius: 15px 0 0 15px;
  }

  @media (max-width: $vp-1024) {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 0;
    border-bottom: none;
    border-right: 5px solid $color-bright-turquoise;
    border-radius: 15px 15px 0 0;
  }
}

.main-block__img-git {
  border-radius: 5px 5px 5px 5px;
}

.main-block__git-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 40px;
  margin: auto;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  justify-content: space-between;

  @media (max-width: $vp-1440) {
    flex-direction: column;
    height: 100%;
  }

  @media (max-width: $vp-1024) {
    height: auto;
    flex-direction: row;
  }

  @media (max-width: $vp-770) {
    flex-direction: column;
    height: 100%;
  }

  @media (max-width: $vp-516) {
    height: auto;
    padding: 0;
    padding-left: 15px;
  }
}

.main-block__git-description {
  margin: auto;
  margin-right: 0;

  @media (max-width: $vp-1440) {
    margin-bottom: auto;
  }

  @media (max-width: $vp-1440) {
    margin: auto;
    margin-right: 0;
  }

  @media (max-width: $vp-770) {
    margin: auto;
  }

  @media (max-width: $vp-516) {
    margin: 0;
  }
}

.main-block__list {
  width: 100%;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  margin: auto;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $vp-1440) {
    flex-direction: column;
  }

  @media (max-width: $vp-1024) {
    flex-direction: row;
  }

  @media (max-width: $vp-770) {
    flex-direction: column;
  }

  @media (max-width: $vp-516) {
    padding: 0;
    padding-left: 15px;
  }
}

.main-block__link:hover .main-block__text {
  text-shadow:
    -1px -1px 0 #808080,
    1px -1px 0 #808080,
    -1px 1px 0 #808080,
    1px 1px 0 #808080; /* Серая обводка */
}


.main-block__link {
  height: 40px;
  display: flex;
  flex-direction: row;

  @media (max-width: $vp-1440) {
    margin-bottom: 10px;
  }

  @media (max-width: $vp-1024) {
    margin-bottom: 0;
  }

  @media (max-width: $vp-770) {
    margin-bottom: 20px;
  }
}

.main-block__portfolio-wrapper {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: aliceblue;
  display: flex;
  flex-direction: column-reverse;
  width: 45%;
  height: 80%;
  margin: auto;
  margin-right: 60px;

  @media (max-width: $vp-1440) {
    margin-left: 0;
  }

  @media (max-width: $vp-1024) {
    width: 80%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 85px;
  }
}

.main-block__portfolio {
  width: 100%;
  height: 40%;
  margin: auto;
  margin-bottom: 0;
  border-radius: 15px 15px 15px 15px;
  border-bottom: 5px solid $color-bright-turquoise;
  border-right: 5px solid $color-bright-turquoise;
  background-color: #41b3a4c5;

  @media (max-width: $vp-1440) {
    margin: 0;
    border-radius: 0 0 15px 0;
    height: 50%;
  }

  @media (max-width: $vp-1024) {
    border-radius: 0 0 15px 15px;
  }
}

.main-block__connection {
  width: 100%;
  height: 50%;
  margin: auto;
  margin-top: 0;
  border-radius: 15px 15px 15px 15px;
  border-bottom: 5px solid $color-bright-turquoise;
  border-right: 5px solid $color-bright-turquoise;
  background-color: #41b3a4c5;

  @media (max-width: $vp-1440) {
    border-bottom: none;
    margin: 0;
    border-radius: 0 15px 0 0;
    height: 50%;
  }

  @media (max-width: $vp-1024) {
    border-radius: 0 0 0 0;
    margin-top: auto;
  }
}

.main-block__title {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;

  @media (max-width: $vp-1024) {
    text-align: center;
    padding-left: 0;
    margin: auto;

  }

  @media (max-width: $vp-375) {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 20px;
  }
}

.main-block__description {
  width: 90%;
  padding-left: 40px;
  padding-bottom: 40px;
  margin: auto;
  margin-left: 0;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.5;

  @media (max-width: $vp-770) {
    font-size: 20px;
  }

  @media (max-width: $vp-516) {
    font-size: 18px;
    padding: 0;
    margin: auto;
  }

  @media (max-width: $vp-400) {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 16px;
  }
}
