.portfolio {
  background-color: aquamarine;
  position: relative;
  width: 99%;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px 15px 15px 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.portfolio__item {
  flex: 0 0 600px;
  display: none;
}

.portfolio__item--active {
  display: block;
}


.portfolio__link {
  width: 100%;
  position: relative;
  display: inline-block;
}

.portfolio__img {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 15px 15px 15px 15px;
}

.portfolio__button {
  position: absolute;
  width: 11%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.041);
  border: none;
  border-radius: 15px 15px 15px 15px;
}

.portfolio__button-img {
  position: relative;
  margin: auto;
  width: 48%;
  height: 10%;
}

.portfolio__button--prev {
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 2;
}

.portfolio__button--next {
  position: absolute;
  padding: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.portfolio__link:hover .portfolio__tooltip {
  visibility: visible;
  opacity: 1;
}

.portfolio__tooltip {
  visibility: hidden;
  width: 30%; /* Ширина подсказки */
  background-color: #41b3a4af; /* Цвет фона подсказки */
  color: aliceblue; /* Цвет текста подсказки */
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 30px; /* Расположение подсказки относительно изображения */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 15px 15px 15px 15px;
  border-bottom: 5px solid #1beed0;
  border-right: 5px solid #1beed0;
}

.portfolio__tooltip {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 28px;
}
